@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
npx tailwindcss -i ./src/css/input.css -o ./src/css/output.css --watch
 */

/* I know its bad to use *, don't judge */
*{
    font-family: "Montserrat", Geneva, Verdana, sans-serif;
}

/* Universal page styling and navigation bar */
.nav_bar{
    @apply fixed flex flex-row justify-around text-lg sm:text-2xl text-center items-center bg-white w-full h-[10vh]
}

.nav_tab{
    @apply w-auto h-fit text-pink-800 hover:underline
}

.default_body{
    @apply min-h-screen bg-gradient-to-br from-orange-500 to-fuchsia-400 text-white flex flex-col items-center
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Projects */
.project_panel{
    @apply flex flex-col xl:flex-row p-6 w-[98%] sm:w-[95%] border-4 border-white rounded-2xl
}

.project_text{
    @apply flex flex-col w-full xl:w-[calc(100%-500px)] 2xl:w-[calc(100%-1000px)]
}

.project_vids{
    @apply flex flex-col lg:flex-row xl:flex-col 2xl:flex-row items-center justify-center w-fit
}


/* Classes */
.semester{
    @apply flex flex-col my-6 p-6 sm:p-12 w-[95%] h-fit border-4 border-white rounded-2xl text-xl
}

.semester h1{
    @apply text-4xl sm:text-5xl font-bold no-underline text-center
}

.semester header{
    @apply text-cyan-300    
}

.semester b{
    @apply underline font-extrabold
}
